<ion-header>
  <ion-navbar>
    <ion-row no-padding>
      <ion-col col-3>
        <button ion-button (click)="cerrar_modal()" style="color: danger;">
          Atras
        </button>
      </ion-col>

      <ion-col col-9>
        <ul style="">
          <ion-icon name="star-outline" style="padding-right: 6%; padding-left:6%;"></ion-icon>
          <ion-icon name="star-outline" style="padding-right: 6%;"></ion-icon>
          <ion-icon name="star-outline" style="padding-right: 6%;"></ion-icon>
          <ion-icon name="star-outline" style="padding-right: 6%;"></ion-icon>
          <ion-icon name="star-outline" style="padding-right: 6%;"></ion-icon>
        </ul>
      </ion-col>

    </ion-row>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <div [ngSwitch]="categorias" full="true" assertive>

    <!--switch 1-->
    <ion-list *ngSwitchCase="'cat1'">
      <ion-card *ngFor="let link of _cas.imagenesBackwards" type="button" (click)="pasarcarta(link.link, link.tag1, link.tag2, link.tag3)">
        <img [src]="link.link" alt="">
        <ion-card-content>
          <ion-card-title>
            {{ link.tag1 }}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <!--switch 2-->
    <ion-list *ngSwitchCase="'cat2'">
      <ion-card *ngFor="let link of _cas.imagenesBackwards" type="button" (click)="pasarcarta(link.link, link.tag1, link.tag2, link.tag3)">
        <img [src]="link.link" alt="">
        <ion-card-content>
          <ion-card-title>
            {{ link.tag1 }}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <!--switch 3 - Transporte-->
    <ion-list *ngSwitchCase="'cat3'">
      <ion-card *ngFor="let link of _cas.imagenesBackwards" type="button" (click)="pasarcarta(link.link, link.tag1, link.tag2, link.tag3)">
        <img [src]="link.link" alt="">
        <ion-card-content>
          <ion-card-title>
            {{ link.tag1 }}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

</ion-content>


<ion-footer color="dark">
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="categorias" color="dark">
      <!-- <ion-segment-button value="cat1" style="color:white;" (click)= "_cas.cargar_por_tag_Uno()"> -->
      <ion-segment-button value="cat1" style="color:white;" (click)= "_cas.cargar_por_tag_Uno()">
        <ion-icon name="body"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="cat2" style="color:white;" (click)= "_cas.cargar_por_tag_Dos()">
        <ion-icon name="analytics"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="cat3" style="color:white;" (click)= "_cas.cargar_imagenes()">
        <ion-icon name="boat"></ion-icon>
      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-footer>
