page-home {

  #homecontent{
      background-color: #EAEAF4 ;
      overflow:hidden;
      background-repeat:no-repeat;
      background-size:contain;
      background-position:center;
  }
  .no-scroll .scroll-content{
       overflow: hidden;
  }

  .logo{
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .stars{
    color: #F7CA18;
  }
}
