page-felicidades {

  #homecontent{
      background-color: #FCBE00 ;
      overflow:hidden;
      background-repeat:no-repeat;
      background-size:contain;
      background-position:center;
  }

  #mensaje{
  background-color: #F3A703;
  padding-top: 10%;
  padding-bottom: 10%;

  }

  .no-scroll .scroll-content{
       overflow: hidden;
  }

  .animated {
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }

  .animated.infinite {
    animation-iteration-count: infinite;
  }

  .animated.flipOutX,
  .animated.flipOutY,
  .animated.bounceIn,
  .animated.bounceOut {
    animation-duration: .75s;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }

    50% {
      opacity: 1;
    }
  }

  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .slideInUp {
    animation-name: slideInUp;
  }
}
